@font-face
  font-family: 'Raleway'
  font-weight: 400
  src: url("../font/Raleway-VariableFont_wght.ttf")

@font-face
  font-family: 'Raleway'
  font-weight: 600
  src: url("../font/Raleway-SemiBold.ttf")

@font-face
  font-family: 'Playfair Display'
  src: url("../font/PlayfairDisplay-MediumItalic.ttf")

@font-face
  font-family: 'NewYork'
  src: url("../font/NewYork PERSONAL USE.otf")

@font-face
  font-family: 'Montserrat'
  src: url("../font/Montserrat-VariableFont_wght.ttf")

@font-face
  font-family: 'MarketPro'
  src: url("../font/MarketPro.woff2")