//COLORS
$cWhite: #FFFF
$cBlack: #000000


$cPrinc: #D18F91
$cSecond: #F1E7E5
$bgopacity: rgba(241,231,229,0.28)
$cGray : #555555
$cGray2 : #c8c8c8
$cGray3 : #707070

//ombres portées
$Shadow : 0 5px 6px #e1e1e1
$Shadow2 : 0px 5px 25px rgba(0, 0, 0, 0.18)

//ligne prix
$LinePrice : #F4EEED

//fond section
$BgSection : rgba(241, 231, 229, 0.15)