@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"

.form-rdv
  background-color: $cGreen
  display: block
  width: 300px
  height: 60px
  z-index: 9999
  bottom: 2%
  right: 1%
  border-radius: 50px
  position: fixed
  a
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    color: $cWhite
    font-size: 22px
    span
      text-align: center

@include max1280
  .form-rdv
    display: none

button
  cursor: pointer

.btn-header
  background-color: $cPrinc
  text-transform: uppercase
  border-radius: 25px
  a
    font-size: 25px


.btn-gray
  background: none
  border: solid 1px $cGray
  color: $cGray
  text-transform: uppercase
  padding: 15px 35px
  font-size: 16px
  &:hover
    background-color: $cGray
    color: white
    transition-duration: .3s

.btn-princ
  background-color: $cPrinc
  border: none
  text-transform: uppercase
  color: $cWhite
  padding: 15px 35px
  font-size: 16px
  &:hover
    opacity: .8
    transition-duration: .3s

.btn-prestation
  background-color: $cPrinc
  border: none
  color: $cWhite
  padding: 15px 35px
  font-size: 16px
  &:hover
    opacity: .8
    transition-duration: .3s

.btn-gift-card
  width: 300px
  margin-left: auto
  margin-right: auto
  background: none
  border: solid 1px $cWhite
  color: $cWhite
  padding: 15px 35px
  margin-top: 20px
  font-size: 16px
  &:hover
    background-color: $cWhite
    color: $cGray
    opacity: .8
    transition-duration: .3s