@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"

body
  margin: 0
  padding: 0

.elementor-element-populated
  padding: 0!important

p
  font-family: 'Raleway'
  color: $cGray
  line-height: 1.5rem