.footer-container
  background-color: $cThird
  padding-top: 30px
  padding-bottom: 30px
  .footer-bloc-content
    display: flex
    margin: auto
    max-width: 1500px
    justify-content: space-evenly
  #menu-menu-footer
    justify-content: flex-end
    ul
      display: block!important
  .footer-menu
    display: flex
    .menu-item
    .item-menu
      color: $cSecond
      font-weight: 500
      text-transform: uppercase
      font-size: 25px
    .sub-menu
      margin-top: 30px
      .menu-item
        margin-bottom: 15px
        .item-menu
          color: $cGray
          font-size: 14px
    &:nth-of-type(2)
      .sub-menu
        li
          display: flex
          &:before
            content: ''
            background-size: contain
            background-position: center
            height: 30px
            width: 30px
            margin-right: 20px
            display: inline-block
          a
            line-height: 30px
        li:nth-child(1):before
          background-image: url("../img/footer-phone.svg")
        li:nth-child(2):before
          background-image: url("../img/footer-mail.svg")
        li:nth-child(3):before
          background-image: url("../img/footer-insta.svg")


  .container-logo-footer
    .logo-footer
      width: 150px
      display: block
      margin: auto


@include max1124
  .footer-container
    .footer-bloc-content
      flex-direction: column
      .container-logo-footer
        margin-bottom: 35px
      .title-group-prestations
        .menu-item-1691
          a:first-child
            text-align: center
            display: block
      .footer-menu
        display: block
        width: 300px
        margin: auto
        .title-group
          text-align: center
          display: block
        &:nth-of-type(2)
          margin-top: 30px
          .sub-menu
            position: relative
            margin-top: 20px
            li
              margin-left: 40px
              &:before
                position: absolute
                left: 0
                margin-right: 0px
        li, .menu-item
          padding-right: 0px
          .item-menu
          .sub-menu
            .menu-item
             // justify-content: center
