@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"

header
  box-shadow: 0 5px 6px #e1e1e1
  padding-top: 5px
  z-index: 99
  position: relative
  background-color: $cWhite
  .logo-header
    width: 100px
    margin: auto
    display: block
  .menu
    display: flex
    line-height: 75px
    margin-top: 15px
    justify-content: center
    li
      list-style-type: none
      margin-right: 50px
      a
        text-decoration: none
        color: $cGray
        font-size: 16px
        &:hover
          color: $cPrinc
          transition-duration: .3s

