@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"


//avec menu ouvert
.with-sidebar
  .site-container
    .site-pusher
      transition: .3s
      transform: translateX($WidthMenu)
      .site-cache
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        background-color: $cSiteCache
        z-index: 999

//avec menu fermé
.site-container
  overflow: hidden
  height: 100%
  .site-pusher
    transform: translateX(0px)
    transition: .3s
    height: 100%
    .site-content
      overflow-y: scroll
      scrollbar-width: none
      position: absolute
      top: $HeightMenu
      left: 0
      right: 0
      bottom: 0
    .site-content-scroll
      transition: .3s
      top: 115px
    header
      display: flex
      justify-content: space-between
      align-items: flex-end
      height: $HeightMenu
      box-shadow: 0px 10px 20px $cGrayShadow
      background-color: $cThirdBg
      .header-icon
        height: $HeightMenu
        display: flex
        align-items: center
        padding-left: 50px
        .logo-menu
          width: 60px
          height: 60px
      .header-icon-small
        height: 115px
        padding: 0 0 0 20px
      .logo-header-desktop
        z-index: 150
        position: absolute
        left: 50%
        transform: translateX(-50%)
        .logo-header
          display: block
          margin: auto
          filter: drop-shadow(0px 10px 20px $cGrayShadow)
          transform: translateY(20%)
        .logo-header-small
          transition: .3s
          width: 150px

      .menu-menu-principal-container
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: $WidthMenu
        transform: translateX(-$WidthMenu)
        background-color: rgba(224,182,168,0.15)
        #menu-menu-principal
          .menu-item
            line-height: 70px
            padding-left: 50px
            font-size: 19px
            //background-color: rgba(224,182,168,0.15)
            &:hover
              background-color: rgba(224,182,168,0.35)
            a
              color: $cSecond
              line-height: 70px
              font-weight: 600
            .sub-menu
              li
                background-color: unset
                a
                  font-weight: 500
                  color: $cGray3
                  &:after
                    display: none
            &:nth-of-type(3)
              a
                display: flex
                align-items: center
                &:after
                  content: ''
                  display: inline-block
                  background-image: url("../img/show-submenu.png")
                  background-size: contain
                  background-position: center
                  background-repeat: no-repeat
                  height: 15px
                  width: 20px
                  margin-left: 10px
              ul
                display: none
                &:hover
                  background-color: unset
                .menu-item
                  transform: translateX(-100px)
                  width: 400px
                  &:hover
                    background-color: rgba(224,182,168,0.35)
                  a
                    transform: translateX(100px)
            &:last-of-type
              display: none
      .menu-menu-secondaire-container-small
        height: 115px!important
        transition: .3s

      .menu-menu-secondaire-container
        position: absolute
        right: 0
        height: $HeightMenu
        display: flex
        align-items: center
        padding-right: 10px
        #menu-menu-secondaire
          width: 100%
          display: flex
          li
            position: relative
            background-color: $cPrinc
            border-radius: 40px
            height: 60px
            width: 320px
            display: flex
            align-items: center
            a
              display: inline-block
              position: absolute
              left: 0
              right: 0
              bottom: 0
              top: 0
              color: $cWhite
              line-height: 60px
              text-align: right
              padding: 0 30px 0 0
              font-size: 19px
            &:hover
              opacity: .8
            &:nth-of-type(1)
              margin-right: 10px
              &:before
                content: ''
                display: inline-block
                background-image: url("../img/logo-giftcard-header.svg")
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                height: 40px
                width: 50px
                transform: translateX(10px)
            &:nth-of-type(2)
              width: 160px
              &:before
                content: ''
                display: inline-block
                background-image: url("../img/sac-white.png")
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                height: 40px
                width: 50px
                transform: translateX(10px)
    .header-small
      transition: .3s
      height: 115px


.site-container
  .site-pusher header
    .menu-menu-secondaire-container
      #menu-menu-secondaire
        li:nth-of-type(2)
          border-radius: 50%
          width: 60px
          &:before
            transform: translateX(5px)
          a
            padding: 0



@include max1124
  .site-container
    .site-pusher
      header
        .header-icon
          .logo-menu
            width: 60px
            height: 60px
        .menu-menu-principal-container
          #menu-menu-principal
            .menu-item:last-of-type
              display: block
        .menu-menu-secondaire-container
          padding: 0 50px 0 0
          align-items: center
          #menu-menu-secondaire
            li:nth-of-type(1)
              display: none

@include max550
  .site-container
    .site-pusher
      header
        .header-icon
          padding-left: 20px
        .menu-menu-secondaire-container
          padding-right: 20px


@include max480
  .site-container
    .site-pusher
      header
        height: 115px
      .header-icon
        height: 115px!important
      .logo-header-desktop
        width: 150px
        .logo-header
          width: 150px
      .menu-menu-secondaire-container
        height: 115px!important
      .site-content
        top: 115px


