/* Error: Undefined mixin.
 *    ,
 * 2  | / @include max1600
 * 3  | |   .site-content
 * 4  | |     .section-tarifs
 * 5  | |       .elementor-container
 * 6  | |         max-width: 95%!important
 * 7  | |         .col-tarifs
 * 8  | |           .inner-section-tarif
 * 9  | |             .elementor-container
 * 10 | \               max-width: 100%!important
 *    '
 *   tarif-bloc.sass 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 2  \2502  \250c  @include max1600\a 3  \2502  \2502    .site-content\a 4  \2502  \2502      .section-tarifs\a 5  \2502  \2502        .elementor-container\a 6  \2502  \2502          max-width: 95%!important\a 7  \2502  \2502          .col-tarifs\a 8  \2502  \2502            .inner-section-tarif\a 9  \2502  \2502              .elementor-container\a 10 \2502  \2514                max-width: 100%!important\a    \2575 \a   tarif-bloc.sass 2:1  root stylesheet";
}
