//---a placer--
h1,h2
  margin: 0

p
  line-height: 30px

.txt-presentation
  //margin: 50px 0 50px 0

//---
#header
  .elementor-container
    max-width: none!important

//header
#header
  overflow: hidden
  height: calc(100vh - 180px)
  .elementor-container
    height: calc(100vh - 180px)
    position: unset
    .content-header
      .elementor-widget-wrap
        flex-direction: column
        align-items: center
        position: unset
        .video-header
          height: calc(100vh - 180px)
          margin-bottom: 0px
          .e-hosted-video
            height: calc(100vh - 180px)
            video
              position: fixed
              right: 0
              bottom: 0
              object-fit: cover
              left: 0
              top: 0
              width: 100%
              height: calc(100vh - 180px)
        .container-content-header
          position: absolute
          top: 50%
          left: 50%
          width: 80vw
          transform: translate(-50%, -50%)
          text-align: center
          height: 50%
          .title-content-header, .btn-content-header
            margin-bottom: 0
            z-index: 99
          .title-content-header
            font-family: 'NewYork'
            text-transform: uppercase
            font-size: 48px
            margin: 0 auto 0 auto
            color: $cWhite
            max-width: 1090px
            letter-spacing: 5px
            opacity: 0
            transform: translateY(-30px)
            animation: apparition 0.8s 0.2s ease-out forwards
            &:after
              content: ''
              display: block
              transform: translateY(30px)
              width: 80%
              height: 2px
              margin: auto
              background-color: $cWhite
          .title-content-header
            h1
              line-height: 80px
          .container-list-header
            //margin: 0 auto 0 auto
            margin-top: 50px
            display: flex
            justify-content: center
            //transform: translateY(50px)
            ul
              display: flex
              li
                color: $cWhite
                text-transform: uppercase
                svg
                  width: 4px
                  height: 4px
              li:nth-child(2), li:nth-child(3), li:nth-child(4)
                margin-left: 25px
              li:nth-child(1)
                opacity: 0
                transform: translateX(-30px)
                animation: apparition 0.8s 0.8s ease-out forwards
              li:nth-child(2)
                opacity: 0
                transform: translateX(-30px)
                animation: apparition 0.8s 1s ease-out forwards
              li:nth-child(3)
                opacity: 0
                transform: translateX(-30px)
                animation: apparition 0.8s 1.2s ease-out forwards
              li:nth-child(4)
                opacity: 0
                transform: translateX(-30px)
                animation: apparition 0.8s 1.4s ease-out forwards
          .btn-content-header
            //margin: 10% auto 0 auto
            font-family: 'Montserrat'
            margin-top: 30px
            color: $cGray
            width: auto
            padding: 10px 0 10px 0
            background-color: $cSecond
            border-radius: 50px
            transition: .2s
            opacity: 0
            transform: translateY(-30px)
            animation: apparition 0.8s 2.5s ease-out forwards
            &:hover
              padding-right: 5px
              .elementor-button-text:after
                content: ''
                display: block
                margin-left: 15px
                height: 25px
                width: 25px
                background-image: url("../img/arrow.png")
                background-repeat: no-repeat
                transform: translateX(5px)
                background-size: contain
                animation-name: arrowMoveH
                animation-timing-function: ease-in-out
                animation-duration: .3s
            a
              padding-top: 5px
              padding-bottom: 5px
              .elementor-button-text
                display: flex
                line-height: 25px
                font-size: 16px
                text-transform: uppercase

        @keyframes apparition
          100%
            transform: none
            opacity: 1
        @keyframes arrowMoveH
          0%
            transform: translateX(-5px)
          100%
            transform: translateX(5px)

        @keyframes arrowMove
          0%
            transform: translateY(-7px)
          100%
            transform: translateY(12px)
        .container-down-arrow
          position: absolute
          display: flex
          justify-content: center
          align-items: center
          bottom: 4%
          left: 50%
          width: 50px
          height: 50px
          background-color: rgba(255,255,255, .5)
          border: solid 3px $cWhite
          border-radius: 50%
          transform: translateX(-50%)
          //opacity: 0
          //transform: translateY(-30px)
          //animation: apparition 0.8s 2.5s ease-out forwards
          .elementor-container
            height: auto
            .elementor-widget-wrap
              justify-content: center
              align-content: center
              .down-arrow
                width: 40px
                margin: auto
                animation-name: arrowMove
                animation-duration: 1s
                animation-iteration-count: infinite
                animation-timing-function: ease-in-out
                animation-direction: alternate


.section-presentation
  padding: 15% 0 15% 0
  max-height: 1500px
  .elementor-container
    max-width: 100%!important
    position: unset!important
    &:before
      content: ''
      position: absolute
      display: block
      height: 100%
      background-repeat: no-repeat
      background-size: contain
      top: 0
      left: 0
      width: 33%
      background-image: url("../img/bg-presentation.png")
    .col-img-presentation
      padding-left: 9%
      .img-presentation
        text-align: left
    .col-content-presentation
      position: unset
      font-family: 'Montserrat'
      .elementor-widget-wrap
        position: unset
        justify-content: center
        flex-direction: column
        padding-left: 150px!important
        .title-presentation,.subtitle-presentation
          position: absolute
          left: 27%
        .title-presentation
          font-family: 'NewYork'
          font-size: 65px
          width: auto
          //text-transform: uppercase
          color: $cPrinc
          top: 5%
        .subtitle-presentation
          color: $cPrinc
          width: auto
          font-size: 35px
          top: 14%
          display: flex
          text-transform: uppercase
          align-items: center
          &:before
            content: ''
            display: inline-block
            background-color: $cPrinc
            margin-right: 30px
            height: 2px
            width: 50px
        .title-txt
          color: $cSecond
          font-size: 39px
          font-weight: 600
          z-index: 99
          &:before
            content: ''
            position: absolute
            width: 280px
            height: 280px
            z-index: -1
            border-radius: 50%
            background-color: $cWhite
            transform: translate(-67px, -88px)
          &:after
            content: ""
            display: inline-block
            width: 35px
            z-index: 99
            height: 2px
            background-color: $cSecond
        .txt-presentation
          z-index: 99
          line-height: 30px
          font-size: 19px
          color: $cGray3
          max-width: 800px

.section-portrait
  font-family: "Montserrat"
  padding: 150px 0
  .elementor-container
    max-width: 80%!important
    position: unset!important
    .col-content-portrait
      padding-right: 50px
      .title-portrait
        color: $cSecond
        margin-top: 88px
        font-weight: 600
        font-size: 35px
        z-index: 99
        &:before
          content: ''
          z-index: -1
          position: absolute
          display: block
          background-color: $cSecondCircle
          border-radius: 50%
          height: 270px
          width: 270px
          transform: translate(-112px,-88px)
        &:after
          content: ''
          display: inline-block
          height: 2px
          background-color: $cSecond
          width: 35px
      .txt-portrait
        font-size: 19px
        p
          line-height: 30px
          color: $cGray3
        .txt-bold
          font-weight: bold
      .btn-portrait
        border-radius: 50px
        width: auto
        border: solid 2px $cGray3
        margin: 85px auto 0 auto
        font-weight: 600
        a
          color: $cGray3
          font-size: 19px
          text-transform: uppercase

        &:hover
          transition: .3s
          background-color: $cGray3
          a
            color: $cWhite
    .col-img-portrait
      position: unset
      flex-direction: column
      justify-content: center
      .elementor-widget-wrap
        position: unset
        .container-form
          display: inline-block
          position: absolute
          right: 0
          top: 20%
          bottom: 20%
          width: 47%
          border-radius: 295px 0 0 295px
          background-color: $cSecondForm
        .img-portrait
          text-align: right


//partie cabinet
.section-title-cabinet
  padding: 100px 0

.section-txt-cabinet
  padding-bottom: 100px!important
  font-size: 20px
  line-height: 30px
  font-weight: 500
  text-align: center
  color: $cGray
  font-style: italic
  font-family: 'Montserrat'
  .elementor-container
    max-width: 700px!important
    .col-txt-cabinet
      .txt-cabinet
      .txt-quote
        &:before
          content: ''
          display: inline-block
          position: absolute
          transform: translate(-350px, -15px)
          background-image: url("../img/quote-gray.svg")
          background-size: contain
          height: 29px
          width: 29px


.section-gallery-cabinet
  .elementor-container
    max-width: 100vw!important
    .col-gallery-cabinet
      .section-inner-gallery
        .elementor-container
          max-width: 100vw!important
          .col-inner-gallery
            width: unset
            .img-gallery-cabinet
              height: 100%
              .elementor-widget-container
                height: 100%
                img
                  width: 100%
                  height: 100%
      .img-gallery-cabinet-blur
        transition: .3s
        filter: blur(4px)
      .section-inner-btn
        position: absolute
        width: auto
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        .col-inner-btn
          .btn-cabinet-rdv
            background-color: $cPrinc
            color: $cWhite
            width: 400px
            text-align: center
            a
              padding: 30px
              font-family: 'Montserrat'
              font-size: 25px
              text-transform: uppercase
          .btn-cabinet-rdv:hover
            transition: .6s
            background-color: $cGray
            transform: scale(1.2)





//--partie prestation

.section-title-prestations
  background-color: $cThirdBg
  padding-top: 200px
  margin-bottom: 0!important
  padding-bottom: 150px!important
  .elementor-container
    position: unset!important
    .col-title-primary
      position: unset
      .elementor-widget-wrap
        position: unset
        .flower-left, .flower-right
          position: absolute
          transform: translateY(-200px)
          width: auto!important
        .flower-left
          left: 0
        .flower-right
          right: 0

//.section-title-prestation
  margin: 50px 0 100px 0
  text-align: center
  font-family: "NewYork"
  font-size: 43px
  color: $cPrinc


.section-prestations
  background-color: $cThirdBg
  .elementor-container
    max-width: 1500px!important
    .prestation
      .elementor-widget-wrap
        justify-content: center
        .img-prestation
          margin-bottom: 0
          &:after
            content: ''
            display: block
            position: absolute
            width: 50px
            height: 50px
            background-image: url("../img/flower-prestation.svg")
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            left: 50%
            z-index: 99
            transform: translate(-50%, -50%)
        .section-inner
          padding: 30px 15px 50px 15px
          width: 417px
          background-color: $cWhite
          .title-prestation, .txt-prestation
            font-family: 'Montserrat'
            text-align: center
          .title-prestation
            display: flex
            justify-content: center
            flex-direction: column
            letter-spacing: 2px
            font-size: 21px
            color: $cSecond
            height: 70px
            margin-bottom: 0px
            font-weight: bold
            text-transform: uppercase
            h3
              //height: 70px
          .txt-prestation
            height: 70px
            color: $cGray
            max-width: 80%
            margin: auto
            display: flex
            justify-content: center
            flex-direction: column
          .btn-more-prestation
            background-color: $cPrinc
            width: 150px
            border-radius: 50px
            font-family: 'Montserrat'
            margin: 0px auto
            transform: translateY(30px)
            &:hover
              opacity: .8
            a
              display: block
              margin: auto
        .separator
          .elementor-divider
            span
              display: block
              margin: 50px auto 0 auto
              border-color: $cSecond
              width: 80%
    .prestation:hover
      transition: 0.5s
      transform: scale(1.02)
      cursor: pointer
      filter: drop-shadow($Shadow2)

.elementor-element-30f5629
  padding-top: 50px
  padding-bottom: 100px

//-- partie carte cadeau

.section-giftcard
  background-image: url("../img/bg-giftcard.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding: 150px
  .elementor-container
    max-width: 1500px!important
    position: unset!important
    .col-giftcard
      position: unset
      background-color: $cGreen
      font-family: 'Montserrat'
      text-align: center
      color: $cWhite
      padding: 50px
      .elementor-widget-wrap
        position: unset
        //.bg-filter
          background-color: rgba(112,112,112,.39)
          position: absolute
          top: 0
          right: 0
          left: 0
          bottom: 0
          z-index: -1
        .title-giftcard
          font-family: 'NewYork'
          font-size: 40px
          text-transform: uppercase
          text-align: center
          margin-bottom: 50px
        .txt-giftcard
          padding: 0px 250px
          margin-bottom: 50px
        .btn-giftcard
          border: solid 1px $cWhite
          border-radius: 50px
          margin: auto
          width: auto
          font-weight: 600
          a
            padding: 15px 25px
          &:hover
            transition: .5s
            background-color: $cWhite
            a
              color: $cGray


//-- partie instagram

.section-title-instagram
  text-align: center
  font-family: 'NewYork'
  font-size: 43px
  color: $cPrinc
  margin: 150px 0 50px 0

.section-diapo-insta
  margin-bottom: 150px
  .swiper
    .swiper-slide
      //background-color: $cPrinc
    .swiper-button-next
      background-image: url("../img/next.png")
      background-repeat: no-repeat
      background-position: center
      width: 100px
      height: 100px
      top: 40%
      &:after
        content: ""
    .swiper-button-prev
      background-image: url("../img/prev.png")
      background-repeat: no-repeat
      background-position: center
      width: 100px
      height: 100px
      top: 40%
      &:after
        content: ""


//--RESPONSIVE

//--TRES H RESOLUTION

@include min2350
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation, .subtitle-presentation
            left: 24%

@include min2820
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation, .subtitle-presentation
            left: 21%
          .title-presentation
            font-size: 65px
          .subtitle-presentation
            font-size: 45px
            top: 13%


// -- RESPONSIVE

@include max1795
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .subtitle-presentation
            top: 15%

@include max1600
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation
            font-size: 45px
          .subtitle-presentation
            font-size: 29px
            &:before
              width: 25px
              margin-right: 15px
          .title-txt
            font-size: 30px
            &:before
              width: 150px
              height: 150px
              transform: translate(-58px, -36px)
          .txt-presentation
            max-width: 80%
  .section-portrait
    .elementor-container
      .col-content-portrait
        .title-portrait
          font-size: 30px
          &:before
            width: 150px
            height: 150px
            transform: translate(-58px, -36px)
  .title-primary
    font-size: 55px

@include max1400
  .section-giftcard
    .elementor-container
      .col-giftcard
        .elementor-widget-wrap
          .txt-giftcard
            padding: 0

@include max1390
  .section-portrait
    .elementor-container
      .col-content-portrait
        .btn-portrait
          margin: 50px auto 0 auto
  .section-prestations
    .elementor-container
      justify-content: space-evenly
      .prestation
        width: 30%




@include max1228
  .section-presentation
    padding: 15% 0 10% 0
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation
            font-size: 35px
          .subtitle-presentation
            top: 13%
            font-size: 20px
          .title-txt
            font-size: 25px
          .txt-presentation
            font-size: 17px
  .section-portrait
    .elementor-container
      .col-content-portrait
        .title-portrait
          font-size: 25px
        .txt-portrait, .btn-portrait
          font-size: 17px
          a
            font-size: 17px



@include max1215
  .section-portrait
    padding: 9% 0

@include max1124
  #header
    .elementor-container
      .content-header
        .elementor-widget-wrap
          .container-content-header
            .title-content-header
              font-size: 35px
              h1
                line-height: 57px
            .container-list-header
              ul
                display: block
                line-height: 35px
                li
                  display: block
                  margin: 0!important
                  .elementor-icon-list-icon
                    display: none
            .btn-content-header
              margin-top: 0px
              font-family: 'Montserrat'
  .section-portrait
    .elementor-container
      .col-content-portrait
        .btn-portrait
          margin: 0 auto



@include max1024
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          padding-left: 100px!important
          .subtitle-presentation
            top: 14%
          .title-txt
            font-size: 21px
          .txt-presentation
            max-width: 90%
  .section-portrait
    .elementor-container
      .col-content-portrait
        .title-portrait
          font-size: 21px
  .section-txt-cabinet
    padding-bottom: 150px!important
  .section-gallery-cabinet
    .elementor-container
      .col-gallery-cabinet
        .section-inner-gallery
          .elementor-container
            .col-inner-gallery
              &:nth-of-type(1), &:nth-of-type(3)
                display: none
              &:nth-of-type(2)
                width: 50%
                margin: auto
        .section-inner-btn
          top: -120px
          left: 50%
          transform: translateX(-50%)
  .section-title-prestations
    padding: 50px 0!important
    .elementor-container
      .col-title-primary
        .elementor-widget-wrap
          .flower-left, .flower-right
            display: none
  .section-prestations
    .elementor-container
      flex-direction: column
      align-items: center
      .prestation
        width: 50%
  .section-giftcard
    padding: 50px

@include Hmax990
  #header
    .elementor-container
      .content-header
        .elementor-widget-wrap
          .container-down-arrow
            left: auto
            right: 0%


@include max950
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .subtitle-presentation
            top: 14%
  .section-prestations
    .elementor-container
      flex-direction: column
      align-items: center
      .prestation
        width: 50%

@include max900
  .section-presentation
    padding: 20% 0 10% 0
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          padding-left: 50px!important
          .title-presentation
            font-size: 30px
          .title-txt:before
            display: none
  .section-portrait
    .elementor-container
      .col-content-portrait
        .title-portrait
          font-size: 25px
          &:before
            display: none

@include max800
  #header
    .elementor-container
      height: auto
      .content-header
        .elementor-widget-wrap
  .section-presentation
    padding: 20% 0 10% 0



@include max800
  #header
    height: calc(100vh - 150px)
    .elementor-container
      //height: calc(100vh - 100px)
      .content-header
        .elementor-widget-wrap
          .video-header
            height: calc(100vh - 150px)
            .e-hosted-video
              height: calc(100vh - 150px)
              video
                height: calc(100vh - 150px)
          .container-content-header
            top: 53%
            .title-content-header
              font-size: 25px
              h1
                line-height: 35px
          .container-down-arrow
            display: none


@include max767
  .section-presentation
    .elementor-container
      max-width: 80%!important
      &:before
        display: none
      .col-img-presentation
        padding-left: 0%
        margin-bottom: 50px
        .img-presentation
          img
            display: block
            margin: auto
            width: 50%
      .col-content-presentation
        .elementor-widget-wrap
          padding-left: 0px!important
          .title-presentation, .subtitle-presentation
            left: 50%
            transform: translateX(-50%)
            text-align: center
          .title-presentation
            top: 3%
            width: 100%
          .subtitle-presentation
            top: 9%
            &:before
              display: none
          .txt-presentation
            max-width: 100%
  .section-portrait
    .elementor-container
      flex-direction: column-reverse
      .col-content-portrait
        padding-right: 0px
        .title-portrait
          margin-top: 0
      .col-img-portrait
        .container-form
          display: none!important
        .img-portrait
          img
            margin: 0 auto 50px auto
            display: block
            width: 50%
  .section-title-cabinet
    padding: 75px 0
  .section-txt-cabinet
    .elementor-container
      max-width: 80%!important
      .col-txt-cabinet
        .txt-quote
          &:before
            display: none
  .section-gallery-cabinet
    .elementor-container
      .col-gallery-cabinet
        .section-inner-btn
          width: 80%
          .col-inner-btn
            .btn-cabinet-rdv
              margin: auto
  .section-prestations
    .elementor-container
      flex-direction: column
      align-items: center
      .prestation
        width: 70%
        .elementor-widget-wrap
          .separator
            .elementor-divider
              span
                width: 90%

@include max640
  .section-giftcard
    .elementor-container
      .col-giftcard
        .elementor-widget-wrap
          .title-giftcard
            font-size: 25px

@include max550
  .section-presentation
    padding: 25% 0% 15% 0
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation
            font-size: 23px
          .subtitle-presentation
            font-size: 17px
  .section-title-cabinet
    .title-primary
      font-size: 45px
    .subtitle-primary
      font-size: 25px
  .section-gallery-cabinet
    .elementor-container
      .col-gallery-cabinet
        .section-inner-btn
          .col-inner-btn
            .btn-cabinet-rdv
              a
                font-size: 20px
                padding: 0
                width: 100%
                height: 80px
                line-height: 80px
  .section-title-prestations
    .col-title-primary
      .title-primary
        font-size: 45px
      .subtitle-primary
        font-size: 25px



@include max480
  .section-presentation
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .title-presentation
            font-size: 20px
          .subtitle-presentation
            font-size: 15px
  .section-giftcard
    padding: 25px
    .elementor-container
      .col-giftcard
        padding: 25px

@include max375
  .section-presentation
    padding: 35% 0% 15% 0
    .elementor-container
      .col-content-presentation
        .elementor-widget-wrap
          .subtitle-presentation
            top: 12%
  .section-title-cabinet
    padding: 50px 0
    .title-primary
      font-size: 35px
    .subtitle-primary
      font-size: 20px
  .section-txt-cabinet
    font-size: 17px
  .section-gallery-cabinet
    .elementor-container
      .col-gallery-cabinet
        .section-inner-btn
          .col-inner-btn
            .btn-cabinet-rdv
              a
                font-size: 17px


@include Hmax850
  #header
    height: calc(100vh - 80px)
    .elementor-container
      height: auto
      //height: calc(100vh - 100px)
      .content-header
        .elementor-widget-wrap
          .video-header
            height: calc(100vh - 80px)
            .e-hosted-video
              height: calc(100vh - 80px)
              video
                height: calc(100vh - 80px)
          .container-content-header
            top: 53%
            .title-content-header
              font-size: 25px
              h1
                line-height: 35px

@include Hmax600
  #header
    height: calc(100vh)
    .elementor-container
      height: auto
      //height: calc(100vh - 100px)
      .content-header
        .elementor-widget-wrap
          .video-header
            height: calc(100vh)
            .e-hosted-video
              height: calc(100vh)
              video
                height: calc(100vh)
          .container-content-header
            width: 90vw
            .container-list-header
              .elementor-widget-container
                width: 100%
                ul
                  display: flex
                  justify-content: space-around
                  li
                    font-size: 14px

@media screen and (max-width: 600px) and (max-height: 650px)
  #header
    height: 120vh
    .elementor-container
      height: auto
      //height: calc(100vh - 100px)
      .content-header
        .elementor-widget-wrap
          .video-header
            height: 120vh
            .e-hosted-video
              height: 120vh
              video
                height: 120vh
          .container-content-header
            top: 53%
            .container-list-header
              .elementor-widget-container
                ul
                  display: block