/*------------------------------------------
 *  Responsive
 * -----------------------------------------*/
.section-background-header {
  background-image: url("../img/background-giftcard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-background-header .elementor-container {
  max-width: 100% !important;
}
.section-background-header .elementor-container .col-title-header {
  text-align: center;
  margin: 110px auto 340px auto;
  font-family: "Montserrat" !important;
  font-size: 40px;
  font-weight: 600 !important;
  color: #FFFF;
  text-transform: uppercase;
  position: unset;
}
.section-background-header .elementor-container .col-title-header .elementor-widget-wrap {
  position: unset;
}
.section-background-header .elementor-container .col-title-header .elementor-widget-wrap .section-filter-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(82, 82, 82, 0.48);
}

.section-content-present {
  transform: translateY(-50%);
}
.section-content-present .col-content-present {
  box-shadow: 0 5px 6px #e1e1e1;
  margin: auto;
  width: 90% !important;
  padding: 50px 50px;
  background-color: #FFFF;
}
.section-content-present .col-content-present .elementor-widget-wrap {
  flex-direction: column;
  align-items: center;
}
.section-content-present .col-content-present .elementor-widget-wrap .title-content-present {
  color: #D18F91;
  font-family: "NewYork";
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: 80px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present {
  border: solid 1px;
  width: 380px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper {
  height: 45px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a {
  width: 100%;
  padding: 0;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span {
  font-size: 20px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span .elementor-button-text {
  display: flex;
  align-items: center;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span .elementor-button-text:before {
  content: "";
  display: inline-block;
  height: 45px;
  width: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation {
  border-color: #D18F91;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation a {
  color: #D18F91;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation a span .elementor-button-text:before {
  margin-right: 7%;
  background-image: url("../img/carte-cadeau-rose.svg");
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation:hover {
  background-color: rgba(209, 143, 145, 0.3);
  transition: 0.3s;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard {
  border-color: #707070;
  margin-bottom: 80px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard a {
  color: #707070;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard a span .elementor-button-text:before {
  margin-right: 12%;
  background-image: url("../img/carte-cadeau-gray.svg");
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard:hover {
  background-color: rgba(112, 112, 112, 0.3);
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning {
  background-color: #F4EEED;
  padding: 10px 25px;
  border-radius: 30px;
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning .elementor-icon-list-icon svg {
  height: 28px !important;
  width: 28px !important;
  margin-right: 10px;
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning .elementor-icon-list-text .warning-txt {
  font-weight: bold;
}

/*# sourceMappingURL=giftcard.css.map */
