/*------------------------------------------
 *  Responsive
 * -----------------------------------------*/
.section-background-header {
  background-image: url("../img/background-giftcard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-background-header .elementor-container {
  max-width: 100% !important;
}
.section-background-header .elementor-container .col-title-header {
  text-align: center;
  margin: 110px auto 340px auto;
  font-family: "Montserrat" !important;
  font-size: 40px;
  font-weight: 600 !important;
  color: #FFFF;
  text-transform: uppercase;
  position: unset;
}
.section-background-header .elementor-container .col-title-header .elementor-widget-wrap {
  position: unset;
}
.section-background-header .elementor-container .col-title-header .elementor-widget-wrap .section-filter-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(82, 82, 82, 0.48);
}

.section-content-present {
  transform: translateY(-50%);
  font-family: "Montserrat";
}
.section-content-present .col-content-present {
  box-shadow: 0 5px 6px #e1e1e1;
  margin: auto;
  width: 90% !important;
  padding: 50px 50px;
  background-color: #FFFF;
}
.section-content-present .col-content-present .elementor-widget-wrap {
  flex-direction: column;
  align-items: center;
}
.section-content-present .col-content-present .elementor-widget-wrap .title-content-present {
  color: #E0B6A8;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 500;
}
.section-content-present .col-content-present .elementor-widget-wrap .icon-flower {
  margin: 40px auto;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present {
  width: 380px;
  background-color: #999C7F;
  border-radius: 35px;
  padding: 10px;
  text-transform: uppercase;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper {
  height: 45px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a {
  width: 100%;
  padding: 0;
  color: #FFFF;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span {
  font-size: 20px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span .elementor-button-text {
  display: flex;
  align-items: center;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-button-wrapper a span .elementor-button-text:before {
  content: "";
  display: inline-block;
  height: 45px;
  width: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation {
  border-color: #999C7F;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation a {
  color: #999C7F;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation a span .elementor-button-text:before {
  margin-right: 7%;
  background-image: url("../img/logo-giftcard-header.svg");
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-prestation:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard {
  border-color: #707070;
  margin-bottom: 80px;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard a {
  color: #707070;
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard a span .elementor-button-text:before {
  margin-right: 12%;
  background-image: url("../img/logo-giftcard-header.svg");
}
.section-content-present .col-content-present .elementor-widget-wrap .btn-present-giftcard:hover {
  transition: 0.3s;
  opacity: 0.8;
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning {
  background-color: #F4EEED;
  padding: 10px 25px;
  border-radius: 30px;
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning .elementor-icon-list-icon svg {
  height: 28px !important;
  width: 28px !important;
  margin-right: 10px;
}
.section-content-present .col-content-present .elementor-widget-wrap .message-warning .elementor-icon-list-text .warning-txt {
  font-weight: bold;
}

@media (max-width: 700px) {
  .section-background-header .elementor-container .title-header {
    font-size: 35px;
  }

  .section-content-present {
    transform: translateY(-35%);
  }
  .section-content-present .col-content-present .elementor-widget-wrap .title-content-present {
    font-size: 26px;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present {
    display: flex;
    justify-content: right;
    width: 70%;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-widget-container {
    width: calc(100% - 55px);
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-widget-container .elementor-button-wrapper {
    display: flex;
    align-items: center;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-widget-container .elementor-button-wrapper a span {
    font-size: 17px;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-widget-container .elementor-button-wrapper a span .elementor-button-text {
    justify-content: center;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present .elementor-widget-container .elementor-button-wrapper a span .elementor-button-text:before {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
@media (max-width: 600px) {
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .section-background-header .elementor-container .title-header {
    font-size: 26px;
  }

  .section-content-present .col-content-present {
    width: 100% !important;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .message-warning li {
    display: flex;
    flex-direction: column;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .message-warning li svg {
    margin: 0 0 15px 0 !important;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .message-warning li .elementor-icon-list-text {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .section-content-present .col-content-present {
    padding: 30px;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .btn-content-present {
    width: 100%;
  }
  .section-content-present .col-content-present .elementor-widget-wrap .title-content-present {
    font-size: 20px;
  }
}

/*# sourceMappingURL=giftcard.css.map */
