/*------------------------------------------
 *  Responsive
 * -----------------------------------------*/
.section-top-giftcard {
  height: 365px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.section-top-giftcard .section-content-top-giftcard {
  background-color: #FFFF;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: inset 0 0 0 10px #FFFF, inset 0 0 0 12px #D18F91;
}
.section-top-giftcard .section-content-top-giftcard .title-giftcard, .section-top-giftcard .section-content-top-giftcard .subtitle-giftcard {
  text-align: center;
}
.section-top-giftcard .section-content-top-giftcard .title-giftcard {
  text-transform: uppercase;
  padding: 30px 0 30px 0;
  margin-bottom: 0px;
  color: #D18F91;
  font-size: 33px;
}
.section-top-giftcard .section-content-top-giftcard .subtitle-giftcard {
  color: #555555;
  font-size: 18px;
  padding-bottom: 30px;
}

.container-section-content-giftcard {
  margin: auto;
  padding-top: 100px;
}
.container-section-content-giftcard .elementor-container {
  max-width: 1400px !important;
}
.container-section-content-giftcard .section-content-giftcard {
  padding-left: 50px;
  text-align: center;
  width: 80% !important;
}
.container-section-content-giftcard .section-content-giftcard .title-section-giftcard {
  position: relative;
  color: #555555;
  font-size: 33px;
  font-style: italic;
  text-align: center;
}
.container-section-content-giftcard .section-content-giftcard .title-section-giftcard:before {
  content: "";
  background-image: url("../img/left-quotes-sign.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  z-index: -1;
  position: absolute;
  left: 50px;
  top: -15px;
}
.container-section-content-giftcard .section-content-giftcard .section-btn-giftcard {
  width: 80%;
  margin: auto;
}
.container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-prestation a, .container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-montant a {
  padding: 10px 5px;
  color: #555555;
  border: solid 1px #555555;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0;
  width: 90%;
}
.container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-prestation a .elementor-button-content-wrapper, .container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-montant a .elementor-button-content-wrapper {
  align-items: center;
}
.container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-prestation a .elementor-button-content-wrapper:before, .container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-montant a .elementor-button-content-wrapper:before {
  content: "";
  background-image: url("../img/icon-giftcard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}
.container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-prestation a .elementor-button-content-wrapper .elementor-button-text, .container-section-content-giftcard .section-content-giftcard .section-btn-giftcard .btn-giftcard-montant a .elementor-button-content-wrapper .elementor-button-text {
  margin-left: 10px;
}

@media (max-width: 1390px) {
  .container-section-content-giftcard {
    padding-top: 30px;
    max-width: 90vw;
  }
  .container-section-content-giftcard .elementor-container {
    flex-direction: column;
    align-items: center;
  }
  .container-section-content-giftcard .elementor-container .section-content-giftcard {
    margin-top: 50px;
    padding-left: 0px;
    width: 100% !important;
  }
  .container-section-content-giftcard .elementor-container .section-content-giftcard .elementor-button-wrapper {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=giftcard.css.map */
