@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"

.elementor-454
  .section-massage-small
    .elementor-container
      .col-content-massage
        .btn-keywords-massage
          width: 300px

@include max1280
  .elementor-454
    .section-benefices
      .elementor-container
        .col-img-benefices
          padding: 0
          .img-benefices
            img
              width: auto


@include max767
  .elementor-454
    .section-info
      .col-info
        .message-info
          border-radius: 0px
          .elementor-icon-list-item
            flex-direction: column
            .elementor-icon-list-icon
              margin-bottom: 20px
            .elementor-icon-list-text
              padding-left: 0px
              text-align: center

@include max700
  .elementor-454
    .section-massage-small
      .elementor-container
        .col-content-massage
          .btn-keywords-massage
            margin: 0 auto 20px auto!important

@include max640
  .elementor-454
    .section-massage-small
      padding-bottom: 0px
      .elementor-container
        .col-content-massage
          .title-massage
            font-size: 35px
    .section-benefices
      .elementor-container
        .col-content-benefice
          .title-benefice
            font-size: 35px
          .subtitle-benefice
            font-size: 20px

@include max480
  .elementor-454
    .section-title-deroulement
      padding-bottom: 35px

@include max425
  .elementor-454
    .section-massage-small
      .elementor-container
        .col-content-massage
          .btn-keywords-massage
            width: 100%
    .section-title-deroulement
      padding: 10px 10px 35px 10px
      .col-title-deroulement
        .title-deroulement
          font-size: 30px