/*------------------------------------------
 *  Responsive
 * -----------------------------------------*/
.txt-bold {
  font-weight: bold;
}

.section-qui-suis-je {
  padding-top: 145px;
  padding-bottom: 145px;
}
.section-qui-suis-je .elementor-container {
  max-width: 1500px !important;
}
.section-qui-suis-je .col-qui-suis-je {
  align-items: center;
}
.section-qui-suis-je .col-qui-suis-je .title-qui-suis-je {
  margin-bottom: 50px;
}
.section-qui-suis-je .text-qui-suis-je:before {
  content: "";
  background-image: url("../img/left-quotes-sign.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  z-index: -1;
  position: absolute;
  left: -18px;
  top: -15px;
}
.section-qui-suis-je:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/icon.png");
  width: 241px;
  height: 376px;
  transform: translateY(-200px);
}

.section-child {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #F1E7E5;
}
.section-child .elementor-container {
  max-width: 1500px !important;
}
.section-child .col-child {
  align-items: center;
  margin-right: 50px;
}
.section-child .col-img-child .img-child {
  transform: translateY(180px);
}

.icon-flowers {
  margin: 150px 0 50px 0;
}

.section-child-2 {
  margin-bottom: 150px;
}
.section-child-2 .elementor-container {
  max-width: 1500px !important;
}

.section-diploma {
  background-color: #F1E7E5;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-diploma h2 {
  text-align: center;
  margin-bottom: 50px;
}
.section-diploma .elementor-container {
  max-width: 1500px !important;
}
.section-diploma li {
  margin-bottom: 15px !important;
  border: solid 1px black;
  border-radius: 50px;
  padding: 15px 50px 15px 30px !important;
}
.section-diploma li .content-list {
  text-align: right;
}
.section-diploma li:nth-child(2n+1) {
  background-color: #D18F91;
  border: none;
  color: #FFFF;
}
.section-diploma li:nth-child(even) {
  color: #555555;
}
.section-diploma li:nth-child(even) .date-diplome {
  font-weight: bold;
}
.section-diploma li .elementor-icon-list-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-diploma li .title-diploma {
  font-weight: bold;
}
.section-diploma .container-img-diploma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-diploma-2 {
  padding-top: 50px;
}
.section-diploma-2 .elementor-container {
  max-width: 1500px !important;
  justify-content: space-between;
}
.section-diploma-2 li {
  margin-bottom: 15px !important;
  border: solid 1px black;
  border-radius: 50px;
  padding: 15px 50px 15px 30px !important;
}
.section-diploma-2 li .content-list {
  text-align: right;
}
.section-diploma-2 li:nth-child(2n+1) {
  background-color: #D18F91;
  border: none;
  color: #FFFF;
}
.section-diploma-2 li:nth-child(even) {
  color: #555555;
}
.section-diploma-2 li:nth-child(even) .date-diplome {
  font-weight: bold;
}
.section-diploma-2 li .elementor-icon-list-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-diploma-2 li .title-diploma {
  font-weight: bold;
}
.section-diploma-2 .container-diploma-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .section-child-2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .elementor-element-c9f204f {
    padding: 50px 0 50px 0;
  }

  .elementor-element-71744bc {
    text-align: center;
  }
  .elementor-element-71744bc .title-qui-suis-je {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .elementor-element-dfca8ba .icon-flowers {
    margin: 30px 0 30px 0;
  }
}
@media (max-width: 1215px) {
  .section-child .col-child {
    margin-right: 0;
    text-align: center;
  }
  .section-child .col-img-child .img-child {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=whoami.css.map */
