/*------------------------------------------
 *  Responsive
 * -----------------------------------------*/
.section-chapone {
  background-color: #F4EEED;
}
.section-chapone .elementor-container {
  max-width: 100vw !important;
}
.section-chapone .elementor-container .col-img-chapone {
  width: auto;
  margin-right: 235px;
}
.section-chapone .elementor-container .col-img-chapone .img-chapone {
  text-align: left;
}
.section-chapone .elementor-container .col-img-chapone .img-chapone img {
  height: calc(100vh - 180px);
  width: auto;
}
.section-chapone .elementor-container .col-content-chapone {
  width: auto;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap {
  align-content: center;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone {
  max-width: 50vw;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap {
  flex-direction: column;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .chapitre-gray {
  font-family: "MarketPro";
  font-size: 95px;
  color: #707070;
  opacity: 0.14;
  text-transform: uppercase;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .title-gray {
  font-family: "NewYork";
  color: #707070;
  font-size: 25px;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .title-gray:before {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translate(-25px, -15px);
  background-image: url("../img/quote-gray.svg");
  height: 45px;
  width: 45px;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .separator-gray {
  width: 55px;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .separator-gray .elementor-divider-separator {
  border-color: #707070;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-content-chapone .col-section-chapone .elementor-widget-wrap .txt-chap {
  font-family: "Montserrat";
  line-height: 30px;
  font-size: 16px;
  color: #555555;
  max-width: 90%;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list {
  font-family: "Montserrat";
  font-size: 16px;
  color: #707070;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .year-list, .section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .separator-list, .section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .txt-list {
  width: auto;
  align-items: center;
  margin-bottom: 0;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .year-list .elementor-widget-container, .section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .separator-list .elementor-widget-container, .section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .txt-list .elementor-widget-container {
  line-height: 30.8px;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .year-list {
  font-weight: bold;
  color: #555555;
}
.section-chapone .elementor-container .col-content-chapone .elementor-widget-wrap .section-list .col-section-list .elementor-widget-wrap .separator-list {
  width: 30px;
  margin: 0 10px;
}

.section-chaptwo .elementor-container {
  max-width: 100vw !important;
}
.section-chaptwo .elementor-container .col-img-chaptwo {
  width: auto;
  margin-right: 235px;
}
.section-chaptwo .elementor-container .col-img-chaptwo .img-chaptwo {
  text-align: left;
}
.section-chaptwo .elementor-container .col-img-chaptwo .img-chaptwo img {
  height: calc(100vh - 180px);
  width: auto;
}
.section-chaptwo .elementor-container .col-content-chaptwo {
  width: auto;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap {
  align-content: center;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo {
  max-width: 50vw;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap {
  flex-direction: column;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .chapitre-pink {
  font-family: "MarketPro";
  font-size: 95px;
  color: #d18f92;
  opacity: 0.35;
  text-transform: uppercase;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .title-pink {
  font-family: "NewYork";
  color: #D18F91;
  font-size: 25px;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .title-pink:before {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translate(-25px, -15px);
  background-image: url("../img/quote-pink.svg");
  height: 45px;
  width: 45px;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .separator-pink {
  width: 55px;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .separator-pink .elementor-divider-separator {
  border-color: #D18F91;
}
.section-chaptwo .elementor-container .col-content-chaptwo .elementor-widget-wrap .section-content-chaptwo .col-section-chaptwo .elementor-widget-wrap .txt-chap {
  font-family: "Montserrat";
  line-height: 30px;
  font-size: 16px;
  color: #555555;
  max-width: 90%;
}

/*# sourceMappingURL=whoami.css.map */
