@import "../../../../entrecieletmer/assets/sass/utils/variables"
@import "../../../../entrecieletmer/assets/sass/utils/mixins"

.section-chapter
  background-color: $cThirdBg
  .elementor-container
    max-width: 100%!important
    .col-img-chapter
      flex-shrink: 0
      width: auto
      .img-chapter
        text-align: left
    .col-content-chapter
      width: auto
      .elementor-widget-wrap
        align-content: center
        padding-left: 50px!important
        padding-right: 50px!important
        .title-content-chapter, .subtitle-content-chapter
          font-family: 'NewYork'
        .title-content-chapter
          font-size: 65px
          color: $cSecond
          text-transform: uppercase
          opacity: .5
          margin-bottom: 50px
        .subtitle-content-chapter
          font-size: 35px
          color: $cGray
          margin-bottom: 0px
          &:before
            content: ''
            position: absolute
            display: inline-block
            background-image: url("../img/quote-gray.svg")
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            transform: translateY(-50%)
            height: 45px
            width: 45px
          .elementor-widget-container
            margin-left: 25px
        .txt-content-chapter
          max-width: 1500px
          color: $cGray
          margin-left: 25px
          &:before
            content: ''
            display: inline-block
            background-color: $cGray
            width: 50px
            height: 1px
            margin: 25px 0
          p:first-of-type
            margin-top: 0
  &:nth-of-type(2)
    background-color: $cPrinc
    .elementor-container
      .col-content-chapter
        .title-content-chapter
          color: $cWhite
          opacity: .7
        .subtitle-content-chapter
          color: $cWhite
        .txt-content-chapter
          &:before
            background-color: $cWhite
          p
            color: $cWhite
  &:nth-of-type(3)
    .col-content-chapter
      .txt-content-chapter
        p
          display: flex
          span
            position: relative
            font-weight: 600
            flex-shrink: 0
            display: flex
            align-items: center
            justify-content: space-between
            width: 100px!important
            width: auto
            &:after
              content: ''
              display: inline-block
              position: absolute
              right: 20px
              height: 2px
              width: 30px
              background-color: $cGray3

@include max1024
  .section-chapter
    .elementor-container
      flex-wrap: nowrap!important
      .col-content-chapter
        .elementor-widget-wrap
          .title-content-chapter
            font-size: 45px
          .subtitle-content-chapter
            font-size: 27px



@include max900
  .section-chapter
    .elementor-container
      .col-img-chapter
        display: none
      .col-content-chapter
        .elementor-widget-wrap
          padding: 50px!important
          .title-chapter-one, .title-chapter-two, .title-chapter-three
            text-align: center
            &:before
              content: ''
              height: 200px
              width: 200px
              margin: 50px auto
              opacity: 1
              background-image: url("../img/chapone-mobile.png")
              background-size: cover
              background-repeat: no-repeat
              background-position: center
              display: block
          .title-chapter-two
            &:before
              background-image: url("../img/chaptwo-mobile.png")
          .title-chapter-three
            &:before
              background-image: url("../img/chapthree-mobile.png")

@include max600
  .section-chapter
    .elementor-container
      .col-content-chapter
        .elementor-widget-wrap
          padding: 20px!important
          .txt-content-chapter
            p
              flex-direction: column

@include max480
  .section-chapter
    .elementor-container
      .col-img-chapter
        display: none
      .col-content-chapter
        .elementor-widget-wrap
          .title-content-chapter
            font-size: 35px
          .subtitle-content-chapter
            font-size: 25px


